# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# Database
*.db

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.claude

# Logs
*.log
